esptool==2.7
pyserial==3.4
python-bitcoinrpc==1.0
rshell==0.0.26
flask
Flask-QRcode

# bedrock reqs not getting installed
pbkdf2
requests

# only using the psbt serializations ...
hwi


# Can be more convenient for development
# -e ../../projects/bedrock
-e git+https://github.com/justinmoon/bedrock.git#egg=bedroc
