{% extends "layout.html" %}

{% block content %}
<h3 class="text-center">Add Signature</h3>
<div class="popup" id="popup">
  <video muted playsinline id="qr-video" class="video"></video>
</div>
<div id="value"></div>
{% endblock %}


{% block script %}
<script type="module">
  import QrScanner from "/static/qr/qr-scanner.min.js";
  QrScanner.WORKER_PATH = '/static/qr/qr-scanner-worker.min.js';

  const video = document.getElementById('qr-video');

  const sigScanner = new QrScanner(video, result => {
    console.log(result);
    reportSignature(result);
    sigScanner.stop();
  });
  sigScanner.start();

  function reportSignature(signature) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      if (xhr.status == 200) {
        if (xhr.responseText.length == 64) {
          var url = 'https://blockstream.info/testnet/tx/' + xhr.responseText
          setTimeout(function() {
            document.location.replace(url);
          }, 1500);
        } else {
          alert(xhr.responsetext);
        }
      } else {
        alert(xhr.responsetext);
      }
    };
    xhr.open('POST', 'http://localhost:9999/add-signature');
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    let body = JSON.stringify({"signature": signature})
    xhr.send(body);
  }

</script>
{% endblock %}
