<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.7"><meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/cover.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>BitBoy</title>
  </head>

  <body>
    <div class="text-center my-4">
      <a href="/scan-xpub">Scan Xpub</a><span>  |  </span>
      <a href="/create-transaction">Create Transaction</a><span>  |  </span>
      <a href="/add-signature">Scan Signatures</a><span>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="text-center">
      <h3>Wallet State</h3>
      <div>Has XPUB: bool</div>
      <div>Has transaction: bool</div>
      {% block content %}{% endblock %}
    </div>
  </body>
  {% block script %}{% endblock %}
</html>

