{% extends "layout.html" %}

{% block content %}
<h3 class="text-center">Scan XPUB</h3>
<div class="popup" id="popup">
  <video muted playsinline id="qr-video" class="video"></video>
</div>
<div id="value"></div>
{% endblock %}


{% block script %}
<script type="module">
  import QrScanner from "/static/qr/qr-scanner.min.js";
  QrScanner.WORKER_PATH = '/static/qr/qr-scanner-worker.min.js';

  const video = document.getElementById('qr-video');

  const xpubScanner = new QrScanner(video, result => {
    console.log(result);
    reportXpub(result);
    document.getElementById("value").value = 'git it';
    document.getElementById("popup").style.display = 'none';
    xpubScanner.stop();
  });
  xpubScanner.start();

  function reportXpub(xpub) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      console.log(this.responseText);
      if (xhr.status == 200) {
        console.log('success');
      } else {
        console.log('failure');
        alert('wallet already exists');
      }
    };
    xhr.open('POST', 'http://localhost:9999/scan-xpub');
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    let json = JSON.stringify({"xpub": xpub})
    xhr.send(json);
  }

</script>
{% endblock %}
